# For Local Deploys only
# Fill it in and rename it to .env if you are deploying on a Local Machine / VPS


API_ID=27383453
API_HASH=4c246fb0c649477cc2e79b6a178ddfaa
SESSION=BQGIzloATDrvWzXv7RRD6Ej6fCpW_B3JJhNYB9WFpzkM7U-g1YkBxxLE5F5ygIWKhtI7t1fuWoY65IHmpmIalZ8eWRTJiTCaEjtnxfhDWVbpEVGY-kgMTIb0j-GMNiSyKchdmIK_2Omlo1aUUTNqMZ3ir5-IfYgEA1jVdC1e10dP9TrX-Mxw_WU8qHPM4Yu10WC9MOPXBB-8wg5I1RPXN13NiF0i9KzkvEMM-66113IWF4zqDcVZxEIpt-WOGo-AxVjovHbjd9FJV1-WWpi5Ph4QIECUookVG6ZSGyln8z1JEh18zDvWD_FJhhrDU-9vqwJe0Io2s20-k1bjAYDYHww2IEk27QAAAAF5XDOMAA
HNDLR=!

