tgcalls==3.0.0.dev5
pytgcalls==2.0.0
TgCrypto==1.2.5
git+https://github.com/pyrogram/pyrogram@master
telegraph
gTTS
googletrans==4.0.0rc1
yt_dlp
asyncio
requests
aiohttp
aiofiles
asyncio
wget
pillow
python-arq
youtube-search-python==1.4.6
youtube-dl
python-dotenv
